@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --violet-color: #8E7BEF;
    --black-color: #222222;
    --yellow-color: #FCDA68;
    --gray-color: #423F40;
    --white-color: #FFFFFF;
    --white-color2: #e9e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--black-color);
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    font-size: 120%;
}

p {
    opacity: 80%;
    color: var(--gray-color);
}

.title_principal,.skills__title,.portafolio__title,.contacto__title {
    font-size: 32px;
} 


/* GRID Principal */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 0.5fr repeat(6,1fr);
}

.title__container {
    margin-top: 50px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.skills__container {
    grid-column: 1/4;
    grid-row: 3/4
}
.portafolio__container {
    grid-column: 2/3;
    grid-row: 4/5;
}
.contacto__container {
    grid-column: 2/3;
    grid-row: 5/6;
}

/* INICIO menu__container */

.home {
    color: var(--violet-color);
    margin-top: 5px;
}

.menu__others {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    background-color: var(--white-color);
    transform: translateY(-100%);
    transition: 0.7s ease;
}

.menu__others-show {
    transform: translateY(0);
}

.burger__menu {
    position: absolute;
    width: 25px;
    top: 15px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
}

.test{
    height: 100px;
}

.menu__container {
    text-align: center;
    width: 100%;
    height: 150px;
    /* display: none; */
    position: absolute;
}

/* INICIO title__container */

.title__container {
    /* margin-top: 60px; */
    height: 0%;
    display: grid;
    grid-template-rows: repeat(2,70px) 50px auto auto auto;
}

.title_principal {
    text-align: center;
    margin-top: 15px;
}

.title_paragraph {
    margin: auto;
}

.title_years {
    height: 100%;
    font-size: 18px;
    height: 50px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.years {
    color: var(--violet-color);
}

.experience {
    opacity: 80%;
    color: var(--gray-color);
}

.title_years {
    margin: auto;
}

.icons {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons__image {
    background-color: var(--violet-color);
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}

.button:hover {
    transition: 0.3s;
    background-color: #6759ad;
} 

.button {
    transition: 0.3s;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 70px;
    background-color: var(--violet-color);
    grid-row: 6/7;
    width: 68%;
    height: 50px;
}

.icon__buton {
    margin: auto 0;
    height: 24px;
    margin-right: 20px;
}

.icon__text {
    font-size: 16px;
    color: var(--white-color);
}

.image__container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 5/6;
    height: 300px;
}

.image__photo {
    margin: 0;
    width: 220px;
}

/* INICIO skills__container */

.skills__container {
    width: 100%;
    height: 100%;
    background-color: var(--yellow-color);
    display: grid;
    grid-template-rows: auto 0.7fr 3fr auto;
}

.skills__title, .skills_icon,.skills__paragraph,.experience,.skills {
    margin: 10px 20px;
}

.skills__title {
    margin-top: 30px;
    width: 60%;
}

.skills__paragraph {
    width: 90%;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills_icon {
    width: 60px;
    margin: 15px auto;
}

.experience {
    display: grid;
    grid-template-rows: auto;
    margin: 0;
    margin-left: 5px;
}

.experience_title {
    margin-bottom: 10px;
    color: #222222;
}

.one {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.item_title {
    font-weight: bold;
    color: var(--black-color);
    grid-column: 2/3;
    grid-row: 1/2;
}

.item_job {
    grid-column: 2/3;
    grid-row: 2/3;
}

.line {
    opacity: 50%;
    background-color: #423F40;
    height: 2px;
    margin-bottom: 15px;
}

.skills__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill_text {
    opacity: 90%;
    color: var(--gray-color);
    text-align: center;
    width: 60%;
    margin: 0 auto 10px;
}

.skills_icon {
    margin: 10px auto;
}

/* INICIO portafolio__container */

.portafolio__container {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.portafolio_subsection  {
    font-size: 20px;
    color: var(--violet-color);
    margin-bottom: 10px;
}

.portafolio__title {
    margin-top: 70px;
    margin-bottom: 20px;
}

.portafolio__image {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.image_port {
    width: 100%;
}


/* INICIO contacto__container */

.contacto__container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,auto);
}

.contacto__title {
    margin: 0 auto;
    grid-column: 1/3;
}

.icon__contact {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__icon {
    width: 70px;
    border-radius: 50%;
    padding: 15px;
    background-color: var(--white-color2);
}

.link_contact {
    text-align: center;
    width: 70%;
    margin: 40px auto;
    color: var(--violet-color);
    grid-column: 1/3;
    transition: 0.7s;
}

.link_contact:hover {
    transition: 0.7s;
    font-size: 18px;
    color: #6759ad;
}

.github_icon {
    width: 30px;
}

.contact_text {
    margin: 10px auto;
}

.contact_others {
    font-size: 14px;
}

/*  */

@media screen and (min-width: 768px) {
    .burger__menu {
        display: none;
    }
    .container {
        height: 100vh;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 70px repeat(6,1fr);
    }

    .home {
        margin: 0;
    }
    .menu__others {
        transform: translateY(0);
        width: 600px;
        margin-top: 25px;
        margin-right: 25px;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }

    .title__container {
        width: 100%;
        margin-top: 0;
        grid-column: 2/3;
        grid-row: 2/3;
        grid-template-rows: 140px 40px 40px 100px 50px 50px;
        grid-template-columns: 60% 40%;
    }
    .title_principal {
        text-align: left;
        font-size: 50px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .title_paragraph {
        margin-top: 10px;
        margin-left: 0;
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
    }

    .title_years {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 10px 0;
        align-items: center;
        justify-content: flex-start;
    }
    
    .image__container {
        max-width: 521px;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/6;
        content: url(../imagenes/photodesktop.png);
    }

    .image__photo {
        height: 100%;
        width: 100%;
    }

    .icons__image {
        width: 35px;
        margin-right: 30px;
    }

    .icons {
        justify-content: left;
        width: 50%;
        margin: 0;
        grid-row: 4/5;
    }

    .button {
        margin-left: 0;
        margin-bottom: 0;
        grid-row: 5/6;
        width: 55%;
        height: 35px;
    }

    .skills__container {
        height: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 30px 100px 110px 30px 200px;
    }

    .skills__title {
        margin: 0;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .skills__paragraph {
        margin: 0;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .experience {
        margin: 0;
        grid-column: 3/4;
        grid-row: 2/4;
    }

    .skills {
        height: 100%;
        margin: 0;
        grid-row: 5/6;
        grid-column: 2/4;
        display: grid;
        grid-template-rows: 40px 100px;
        grid-template-columns: 20% 80%;
    }

    .skills__items {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid; 
        width: 650px;
    }
    
    .skills_icon {
        width: 40px;
    }
    
    .skill_text {
        grid-row: 2/3;
    }

    .portafolio__container {
        margin: 0;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100px 300px;
    }

    .portafolio__title {
        margin-top: 40px;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .image1,.image2,.image3 {
        padding: 15px;
        border-radius: 5px;
    }

    .image1{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .image2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .image3 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .contacto__title {
        margin: 0;
    }

    .contact__icon {
        border-radius: 25%;
    }

    .contacto__container {
        margin-top: 40px;
    }

    .left {
        margin-left: 250px;
    }
    
}




