@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --violet-color: #8E7BEF;
    --black-color: #222222;
    --yellow-color: #FCDA68;
    --gray-color: #423F40;
    --white-color: #FFFFFF;
    --white-color: #F9F5F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

p {
    opacity: 80%;
    color: var(--gray-color);
}

.title_principal,.skills__title,.portafolio__title,.contacto__title {
    font-size: 32px;
} 


/* GRID Principal */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 0.5fr repeat(6,1fr);
}

.title__container {
    margin-top: 50px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.skills__container {
    background-color:lightgoldenrodyellow;
    grid-column: 1/4;
    grid-row: 3/4
}
.portafolio__container {
    background-color: lightgray;
    grid-column: 2/3;
    grid-row: 4/5;
}
.contacto__container {
    background-color: lightgreen;
    grid-column: 2/3;
    grid-row: 5/6;
}

/* INICIO menu__container */

.home {
    color: var(--violet-color);
    margin-top: 5px;
}

.menu__others {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    background-color: var(--white-color);
    transform: translateY(-100%);
    transition: 0.7s ease;
}

.menu__others-show {
    transform: translateY(0);
}

.burger__menu {
    position: absolute;
    width: 25px;
    top: 15px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
}

.test{
    height: 100px;
}

.menu__container {
    text-align: center;
    width: 100%;
    height: 150px;
    /* display: none; */
    position: absolute;
}

/* INICIO title__container */

.title__container {
    /* margin-top: 60px; */
    height: 0%;
    display: grid;
    grid-template-rows: repeat(2,70px) 50px auto auto auto;
}

.title_principal {
    text-align: center;
    margin-top: 15px;
}

.title_paragraph {
    margin: auto;
}

.title_years {
    height: 100%;
    font-size: 18px;
    height: 50px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.years {
    color: var(--violet-color);
}

.experience {
    opacity: 80%;
    color: var(--gray-color);
}

.title_years {
    margin: auto;
}

.icons {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons__image {
    background-color: var(--violet-color);
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    background-color: var(--violet-color);
    grid-row: 6/7;
    width: 68%;
    height: 50px;
}

.icon__buton {
    margin: auto 0;
    height: 24px;
    margin-right: 20px;
}

.icon__text {
    font-size: 16px;
    color: var(--white-color);
}

.image__container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 5/6;
    height: 300px;
}

.image__photo {
    margin: 0;
    width: 220px;
}

/* INICIO skills__container */

.skills__container {
    width: 100%;
    height: 100%;
    background-color: var(--yellow-color);
    display: grid;
    grid-template-rows: auto 0.7fr 3fr auto;
}

.skills__title, .skills_icon,.skills__paragraph,.experience,.skills {
    margin: 10px 20px;
}

.skills__title {
    margin-top: 30px;
    width: 60%;
}

.skills__paragraph {
    width: 90%;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills_icon {
    width: 75px;
    margin: 15px auto;5
}

.experience {
    display: grid;
    grid-template-rows: auto;
}

.experience_title {
    margin-bottom: 10px;
    color: #222222;
}

.one {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.item_title {
    font-weight: bold;
    color: var(--black-color);
    grid-column: 2/3;
    grid-row: 1/2;
}

.item_job {
    grid-column: 2/3;
    grid-row: 2/3;
}

.line {
    opacity: 50%;
    background-color: #423F40;
    height: 2px;
    margin-bottom: 15px;
}